# Android 构建输出
/build/
/.kotlin/
/app/build/
/captures
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.dex
*.class
bin/
gen/
out/

# Gradle
.gradle/
gradle-app.setting
!gradle-wrapper.jar
local.properties

